body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Helvetica, sans-serif;
    background-color: #f4f4f4;
}

a {
  color: #2c5f2d; 
  text-decoration: underline;
}

.site-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}