nav {
  background-color: #3A5A40;
  flex-shrink: 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 5px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  font-family: Helvetica, sans-serif;
  text-decoration: none;
  padding: 14px 20px;
  display: block;
  transition: background-color 0.3s ease;
}

nav ul li a:hover,
nav ul li a.active {
  background-color: #4B6E52;
  border-radius: 3px;
}

nav ul li a.active {
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

nav ul li.has-dropdown .dropdown {
  display: none;
  position: absolute;
  background-color: #3A5A40;
  padding: 5px 0;
  margin-top: 1px;
  min-width: max-content;
  border-radius: 3px;
}

nav ul li.has-dropdown .dropdown li {
  margin-bottom: 8px;
}

nav ul li.has-dropdown .dropdown li a {
  padding: 10px 20px;
  display: block;
  color: white;
}

nav ul li.has-dropdown .dropdown li a:hover {
  background-color: #4B6E52;
}

.menu-toggle {
  display: none;
  background-color: #3A5A40;
  color: white;
  padding: 14px 20px;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
}

@media (min-width: 769px) {
  nav ul li.has-dropdown {
    position: relative;
  }
  nav ul li.has-dropdown:hover .dropdown {
    display: block;
  }
}

@media (max-width: 768px) {
  nav ul {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #3A5A40;
  }
  nav ul.show {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  nav ul li {
    margin: 5px 0;
  }

  nav ul li.has-dropdown {
    width: 100%;
    text-align: center;
  }

  nav ul li.has-dropdown .dropdown {
    position: static;
    display: none;
    width: 100%;
  }
  nav ul li.has-dropdown .dropdown.show {
    display: block;
  }

  nav ul li.has-dropdown .dropdown li a {
    padding: 10px 0;
    text-align: center;
  }
}