<div id="disclaimer-popup">
  <span id="close-disclaimer" class="close-btn">&times;</span>
  <p id="disclaimer-text">
    Disclaimer: Alles wat je op deze website kunt vinden is bedoeld als ondersteuning bij het stoppen met alcohol drinken en biedt informatie, inzichten en tips op basis van ervaring. Het is niet bedoeld of geen vervanging voor professionele, medische of psychologische hulp. 
    <br><br>
Alcoholverslaving en ontwenning kunnen ernstige lichamelijke en mentale gevolgen hebben. Als je gezondheidsproblemen ervaart of twijfelt over je herstelproces, raadpleeg dan altijd een arts of een andere gekwalificeerde professional.
    <br><br>
De ervaringen en adviezen van deze website zijn gebaseerd op kennis en inzichten uit herstel, maar ieder persoon en herstelproces is uniek. Gebruik de informatie op een manier die voor jou werkt en wees niet bang om extra hulp te zoeken wanneer dat nodig is.
  </p>
  <span id="open-disclaimer">&#9650;</span> 
</div>

<link rel="stylesheet" href="css/disclaimer.css">
<script src="js/disclaimer.js" defer></script>
