<nav>
  <div class="menu-toggle" onclick="toggleMenu()">☰ Menu</div>
  <ul id="nav-list">
    <li><a href="index.html">Home</a></li>
    
    <li class="has-dropdown">
      <a href="stapvoorstap.html">Stap voor stap ▾</a>
      <ul class="dropdown">
        <li><a href="benikverslaafd.html">Ben ik verslaafd?</a></li>
        <li><a href="ikwilstoppen.html">Ik wil stoppen</a></li>
        <li><a href="eerstedagen.html">De eerste dagen</a></li>
        <li><a href="eersteweken.html">De eerste weken</a></li>
        <li><a href="eerstemaanden.html">De eerste maanden</a></li>
        <li><a href="nuchterblijven.html">Hoe blijf ik nuchter?</a></li>
      </ul>
    </li>
    
    <li class="has-dropdown">
      <a href="#">Alcohol en verslaving ▾</a>
      <ul class="dropdown">
        <li><a href="alcoholisgif.html">Alcohol is gif</a></li>
        <li><a href="schade.html">Schade</a></li>
        <li><a href="fasesvanherstel.html">De fases van herstel</a></li>
        <li><a href="alcoholvrij.html">Alcoholvrij</a></li>
      </ul>
    </li>
    
    <li class="has-dropdown">
      <a href="#">Aan het werk ▾</a>
      <ul class="dropdown">
        <li><a href="meetings.html">Meetings</a></li>
        <li><a href="12stappen.html">12 stappen</a></li>
        <li><a href="zelfreflectietools.html">Zelfreflectie en tools</a></li>
        <li><a href="alternatievehulp.html">Alternatieve hulp</a></li>
      </ul>
    </li>
    
    <li><a href="leeskijkluister.html">Lees, kijk en luister tips</a></li>
    <li><a href="nieuws.html">Nieuws</a></li>
    <li><a href="blog.html">Blog</a></li>
    <li><a href="contact.html">Contact</a></li>
  </ul>
</nav>
